[Unit]
Description=Check the VSM certificate four times a day

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
RandomizedDelaySec=15min
Persistent=true
Unit=vsm-certificates.service

[Install]
WantedBy=timers.target
